*{margin: 0;padding: 0;box-sizing: border-box;overflow: hidden;}

@keyframes circle{0% {transform: rotate(0deg); } 100% {transform: rotate(360deg); } }
#page{height:100vh;display: flex;flex-wrap: wrap;background-position:50%;background-size: cover;flex-direction: column;position: relative;}
.song-container{position: relative;width: 100%;}
.song-container .musicbg{width: 25.6vw;position: absolute;left: 46vw;z-index: 5;}
.song-container .song-ring{
    margin-top: 18.66vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.song-container .song-ring .icon-wrapper{
    display: flex; 
	justify-content: center; align-items: center;
	border: 1px solid white; height: 23vw; width: 23vw;
	border-radius: 50%; background: rgba(0,0,0,0.5);
    position: absolute;z-index: 7;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.song-container .song-ring .icon{width: 10vw; fill: white;}
.song-container .song-ring  .ring-musicbg{width: 44.5vw; position: absolute; border-radius: 50%;animation: circle 20s infinite linear; animation-play-state: paused;}
.song-container.playing .song-ring .trans-ring,.song-container.playing .song-ring .ring-musicbg{animation-play-state: running;}

.song-container .song-ring  .icon-pause{display: none; }
.song-container.playing .icon-pause{display: block; }
.song-container.playing .icon-play{display: none; }
.song-container .song-ring .trans-ring{
    width: 79vw;
    position: relative;
    z-index: 5;
}
.song-container .song-ring .black-ring{
    width: 79vw;    
    position: absolute;
    z-index: 1;
}
.song-container .song-ring .ring-musicbg{
    position: absolute;
    width: 49.1vw;
    height: 49.1vw;
    z-index: 3;
    border-radius: 50%;

}
.song-subtitle{text-align: center;margin-top: 6.66vw;}
.song-subtitle h2{
    font-size: 4.8vw;
    color: #fefefe;
    font-family: Helvetica, sans-serif;
    font-weight: 400;
}
.song-subtitle .songLrc{margin-top: 2.293vw;height: 23.466vw;overflow: hidden;}
.song-subtitle .songLrc .lines{transition: transform 0.3s;}
.song-subtitle .songLrc .lines p{
    color: hsla(0,0%,100%,.6);
    padding: 1.44vw 0;
    font-family: Helvetica, sans-serif;
}
.song-subtitle .songLrc .lines p.active{color: #ffffff;}
.APP-links{font-family: Helvetica, sans-serif;position: absolute;bottom: 5.333vw;width: 100%;display: flex;justify-content: center;}
.APP-links div{padding: 2.3vw 0;}
.APP-links .openApp{padding:2.3vw 14.674vw;border: 1px solid #d43b32;color:#d43b32;border-radius: 1vw;margin-right: 1vw;}
.APP-links .downApp{padding:2.3vw 14.674vw;border: 1px solid #d43b32;color:#ffffff;border-radius: 1vw;background: #d43b32;margin-left: 1vw;}
